<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block", class: "form-label" %>
    <%= form.text_area :body, size: "70x5", class: "form-control" %>
  </div>

  <div>
    <%= form.label :answer, style: "display: block", class: "form-label"  %>
    <%= form.fields_for :answer do |a_form| %>
        <%= a_form.select :team, Answer::VALID_TEAMS, class: "form-select" %>
        <%= a_form.select :down, Answer::VALID_DOWNS, class: "form-select"%>
        <%= a_form.select :distance, Answer::VALID_DISTANCE, selected: '10', class: "form-select" %>
        <%= a_form.select :yardline_team, Answer::VALID_TEAMS, class: "form-select"%>
        <%= a_form.select :yardline_num, Answer::VALID_YARDLINE_NUM, selected: '25', class: "form-select" %>
        <%= a_form.select :clock_status, Answer::VALID_CLOCK_STATUS, class: "form-select" %>
        <div>
          <%= a_form.label :explanation, style: "display: block", class: "form-label"  %>
          <%= a_form.text_area :explanation, size: "70x5", class: "form-control" %>
        </div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>