<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div class="errors">
      <h5 class="text-danger"><%= pluralize(question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li class="text-danger"><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="main-text">
    <%= form.label :body, style: "display: block", class: "form-label mb-0 mt-3 body", value: "Main text" %>
    <%= form.text_area :body, size: "70x5", class: "form-control body" %>
  </div>

  <div class="answer">
    <%= form.label :answer, style: "display: block", class: "form-label mb-0 mt-3 answer"  %>
    <%= form.fields_for :answer do |a_form| %>
        <%= a_form.select :team, Answer::VALID_TEAMS, class: "form-select team" %>
        <%= a_form.select :down, Answer::VALID_DOWNS, class: "form-select down"%>
        <%= a_form.select :distance, Answer::VALID_DISTANCE, selected: '10', class: "form-select distance" %>
        <%= a_form.select :yardline_team, Answer::VALID_TEAMS, class: "form-select yardline-team"%>
        <%= a_form.select :yardline_num, Answer::VALID_YARDLINE_NUM, selected: '25', class: "form-select yardline-num" %>
        <%= a_form.select :clock_status, Answer::VALID_CLOCK_STATUS, class: "form-select clock-status" %>
        <div>
          <%= a_form.label :explanation, style: "display: block", class: "form-label mb-0 mt-3 explanation"  %>
          <%= a_form.text_area :explanation, size: "70x5", class: "form-control explanation" %>
        </div>
    <% end %>
  </div>

  <div class="question-references">
    <%= form.label "References" %>
    <%= form.select :reference_ids, Reference.pluck(:text, :id), {}, { multiple: true, data: { controller: 'slim', slim_target: 'field' } } %>
  </div>

  <div class="my-4 submit-button">
    <%= form.submit submit_text, class: "btn btn-outline-primary" %>
  </div>
<% end %>