<div class="container-fluid">
  <div class="row justify-content-center">
    <div class="col-lg-6 mt-5 mb-3">
      <%= render "references/search_form" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6 d-flex justify-content-between">
      <div class="mt-2">
        <%= button_to 'New question', new_question_path, data: { turbo_frame: "new_question" }, method: :get, class: 'btn btn-outline-primary shadow-none' %>
      </div>
      <div class="mt-2 dropdown">
        <a class="btn btn-primary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
          Sort and Filter
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <% if user_signed_in? %>
            <li><%= link_to "Read", questions_path(filter_by: 'read'), class: "dropdown-item" %></li>
            <li><%= link_to "Unread", questions_path(filter_by: 'unread'), class: "dropdown-item" %></li>
          <% end %>
          <li><%= link_to "Newest", questions_path(sort_by: 'newest'), class: "dropdown-item" %></li>
          <li><%= link_to "Oldest", questions_path(sort_by: 'oldest'), class: "dropdown-item" %></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= turbo_frame_tag "new_question", target: "_top" %>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-lg-6">
      <%= render @questions %>
      <% unless @pagy.next.nil? %>
        <%= render "next_page" %>
      <% end %>
    </div>
  </div>
</div>