<p>
  <div>Answer</div>
  <%= answer.team %>
  <%= answer.down %>
  <%= answer.distance %>
  <%= answer.yardline_team %>
  <%= answer.yardline_num %>
  <%= answer.clock_status %>
  <%= answer.explanation %>
</p>