<div data-controller="visibility">
  <button data-action="visibility#toggleVisibility visibility#toggleAnswerButton" data-visibility-target="button" class="btn btn-outline-primary">Show Answer</button>
  <div>
    <span data-visibility-target="hideable" hidden>
      <%= answer.team %>
      <%= answer.down %><% if answer.distance %>/<% end %><%= answer.distance %>
      <%= answer.yardline_team %>-<%= answer.yardline_num %>,
      <%= answer.clock_status %>.
      <div><%= answer.explanation %></div>
    </span>
  </div>
</div>