<div class="body-wrap">
  <main>
    <section class="hero">
      <div class="container">
        <div class="hero-inner">
          <div class="hero-inner-container">
            <div class="brand header-brand">
              <h1 class="mb-5">
                <a href="#">
                  <%= image_tag("white_logo_large.svg", alt: "Logo", class: "header-logo-image") %>
                </a>
              </h1>
            </div>
            <div class="hero-copy">
              <h1 class="hero-title mt-0">Answer Questions.<br>Write Questions.<br>Get Better.</h1>
              <div class="hero-cta">
                <%= link_to "Sign Up", new_user_registration_url, class: "button button-primary", data: { turbolinks: false } %>
                <%= link_to "Explore", questions_url, class: "button button-secondary", data: { turbolinks: false } %>
              </div>
            </div>
          </div>
          <div class="hero-figure">
            <%= image_tag("side_judge_td.jpg") %>
          </div>
        </div>
      </div>
    </section>

    <section class="features section">
      <div class="container">
        <div class="features-inner section-inner has-bottom-divider">
          <div class="features-wrap">
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                  <%= image_tag("feature-icon-01.svg", alt: "Feature 01") %>
                </div>
                <h4 class="feature-title mt-24">Answer</h4>
                <p class="text-sm mb-0">FBRULES has an extensive database of rules questions to study.</p>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                  <%= image_tag("feature-icon-02.svg", alt: "Feature 02") %>
                </div>
                <h4 class="feature-title mt-24">Write</h4>
                <p class="text-sm mb-0">Contribute to the question database by submitting questions to share.</p>
              </div>
            </div>
            <div class="feature text-center is-revealing">
              <div class="feature-inner">
                <div class="feature-icon">
                  <%= image_tag("feature-icon-03.svg", alt: "Feature 03") %>
                </div>
                <h4 class="feature-title mt-24">Improve</h4>
                <p class="text-sm mb-0">Search questions by rule reference to target weaknesses.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>

  <footer class="site-footer">
    <div class="container">
      <div class="site-footer-inner">
        <div class="brand footer-brand">
          <%= image_tag("white_logo.svg", alt: "Logo", class: "header-logo-image") %>
        </div>
        <div class="footer-copyright">&copy; 2023 FBRULES by Tyler Wadekamper, all rights reserved</div>
      </div>
    </div>
  </footer>
</div>

