<nav class="navbar navbar-dark fixed-top bg-dark">
  <div class="container-fluid mx-3">
    <a class="navbar-brand" href="/questions">RefNetwork</a>
    <ul class="nav nav-pills me-auto">
      <li class="nav-item px-3">
        <a class="nav-link active" aria-current="page" href="/questions">Home</a>
      </li>
    </ul>
    <% if user_signed_in? %>
      <ul class="d-flex justify-content-end nav mb-0">
        <li class="nav-item px-2">
          <%= button_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-light' %>
        </li>
        <li class="nav-item px-2 text-white align-self-center">
          <%= current_user.first_name %> <%= current_user.last_name %>
        </li>
      </ul>
    <% else %>
      <ul class="d-flex justify-content-end nav mb-0">
        <li class="nav-item px-2">
          <%= button_to 'Log in', new_user_session_path, method: :get, class: 'btn btn-light' %>
        </li>
        <li class="nav-item px-2">
          <%= button_to 'Sign up', new_user_registration_path, method: :get, class: 'btn btn-light'  %>
        </li>
      </ul>
    <% end %>
  </div>
</nav>