<!DOCTYPE html>
<html class="h-100">
  <head>
    <title>RefNetwork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application.bootstrap", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/slim-select/1.27.1/slimselect.min.css", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-100">
    <%= render 'layouts/nav_bar' %>
    <%= render 'shared/flash_messages' %>

    <%= yield %>
  </body>
</html>
